<!-- Footer -->
<footer class="footer">
    <div class="container">
        <!-- Footer Top Features -->
        <div class="footer-top">
            <div class="footer-feature">
                <i class="fas fa-rocket"></i>
                <h4>EXPRESS SHIPPING</h4>
                <p>Shipping in 24 hours</p>
            </div>
            <div class="footer-feature">
                <i class="fas fa-truck"></i>
                <h4>SHIPPING TRACKING</h4>
                <p>Track your order</p>
            </div>
            <div class="footer-feature">
                <i class="fas fa-shield-alt"></i>
                <h4>BUY SAFELY</h4>
                <p>Buy safely, pay securely</p>
            </div>
        </div>
        
        <!-- Footer Main Menu -->
        <div class="row">
            <div class="col-lg-3 col-md-6 mb-4">
                <h5 class="footer-title">CUSTOMER SERVICE</h5>
                <ul class="footer-menu">
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Shipping & Returns</a></li>
                    <li><a href="#">Terms & Conditions</a></li>
                    <li><a href="#">Delivery</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <h5 class="footer-title">INFORMATION</h5>
                <ul class="footer-menu">
                    <li><a href="#">Payments</a></li>
                    <li><a href="#">Size guide</a></li>
                    <li><a href="#">Administrator</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <h5 class="footer-title">FOLLOW US</h5>
                <div class="social-icons">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <h5 class="footer-title">CONTACT US</h5>
                <div class="contact-info">
                    <div class="contact-item">
                        <i class="fas fa-phone"></i> 
                        <span>+91 1234567890</span>
                    </div>
                    <div class="contact-item">
                        <i class="fas fa-envelope"></i>
                        <span>info@stepOut.com</span>
                    </div>
                    <div class="contact-item">
                        <i class="far fa-clock"></i>
                        <span>7:00 - 20:00 GMT +12:30</span>
                    </div>
                </div>
                <div class="payment-methods mt-3">
                    <i class="fab fa-cc-visa fa-2x me-2"></i>
                    <i class="fab fa-cc-mastercard fa-2x"></i>
                </div>
            </div>
        </div>
        
        <!-- Footer Bottom -->
        <div class="footer-bottom">
            <p>&copy; 2025 StepOut. All rights reserved.</p>
        </div>
    </div>
</footer>