<!-- Header Partial -->
<nav class="navbar navbar-expand-lg sticky-top">
    <div class="container">
        <a class="navbar-brand" href="/">stepOut</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/shop">Shop</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/account/orders">Order</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About Us</a>
                </li>
            </ul>
            <div class="nav-icons d-flex align-items-center ms-3">
                <form id="searchForm" action="/shop" method="GET">
                    <div class="search-container position-relative ">
                        <input type="text" name="search" id="searchInput" class="search-input" placeholder="Search..." value="<%= req.query.search %>">
                        <a href="#" id="search-icon" class="nav-link">
                            <i class="fas fa-search"></i>
                        </a>
                    </div>
                </form>
                <a href="/wishlist" class="nav-link ">
                    <i class="fas fa-heart"></i>
                </a>
                <a href="/cart" class="nav-link ">
                    <i class="fas fa-shopping-cart"></i>
                </a>
                <div class="dropdown">
                    <a href="#" class="nav-link mx-2 dropdown-toggle" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-user"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                        <% if(!req.session.user){ %>
                            <li><a class="dropdown-item" href="/login">Log In</a></li>
                            <li><a class="dropdown-item" href="/signup">Sign Up</a></li>
                        <% } else{ %>
                            <li><a class="dropdown-item" href="/account"><%=req.session.user.fullName%></a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="/logout">Log Out</a></li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>